/*--------------------INDEX---------------------*/


/*BANNER*/
#banner {
    margin-top: 0px;
    margin-bottom: 20px;
    position: relative;

    img {
        width: 100%;
        height: 100%;
    }

    .contenedor {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-95%) translateY(-50%);

        #exploraElMundo {
            font-size: 300%;
        }
    }

}



/*IMAGENES*/
.imagen1,
.imagen2,
.imagen3 {
    box-shadow: 9px 10px 24px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 9px 10px 24px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 9px 10px 24px -1px rgba(0, 0, 0, 0.75);
}

/*RESEÑAS*/
.reseña1, .reseña2, .reseña3 {
    margin: 10px;
    padding: 40px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

/*.reseñasFlex {
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 70px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items:space-between;
}*/



/*FOOTER*/
footer {
    padding: 20px 30px 20px 30px;
    margin-bottom: 0;
    margin-top: 200px;
    background-color: rgb(56, 56, 56);

    .footerFlex {
        display: flex;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-evenly;

        footer p {
            font-style: normal;
            line-height: 1cm;
            font-size: 16px;
        }

        .contactoFooter {
            font-size: large;
            text-align: center;
            color: rgb(238, 231, 222);
        }

        .info {
            font: size 30px;
            color: blanchedalmond;
            text-align: right;
        }
    }

}


/* --------------------GRIDS-------------------*/

@media (min-width: 1024px) {
    .padre {
        max-width: 1600px;
        margin: 0 auto;
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 33.09% 33.09% 33.09%;
        grid-template-rows: repeat(7, auto);
        grid-template-areas:
            "header           header           header"
            "banner           banner           banner"
            ".                subtitulo1       ."
            "gridGaleria      gridGaleria      gridGaleria"
            ".                subtitulo2       ."
            "reseñas          reseñas           reseñas"
            "footer           footer           footer";
    }

    .padre .header {
        grid-area: header;
    }

    .padre #banner {
        grid-area: banner;
        grid-column-start: 1;
        grid-column-end: -1;
    }

    .padre #subtitulo1 {
        grid-area: subtitulo1;
    }

    .padre .gridGaleria {
        grid-area: gridGaleria;
    }

    .padre #subtitulo2 {
        grid-area: subtitulo2;
    }

    .padre .reseñas {
        grid-area: reseñas;
    }

    .padre #footer {
        grid-area: footer;

    }

    /*BANNER*/
    #exploraElMundo {
        font-size: 300%;
    }


    /*galeria orden*/
    .gridGaleria {
        object-fit: cover;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "imagen1 imagen2 imagen3";
    }


    /*IMAGENES*/
    .gridGaleria {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-evenly;
        margin-bottom: 100px;
    }

    .imagen1 {
        grid-area: imagen1;
    }

    .imagen2 {
        grid-area: imagen2;
    }

    .imagen3 {
        grid-area: imagen3;
    }

    /*Reseñas orden*/
    .reseñas {
        display: grid;
        grid-gap: 50px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "reseña1 reseña2 reseña3";
    }

    .resaña1 {
        grid-area: reseña1;
    }

    .resaña2 {
        grid-area: reseña2;
    }

    .resaña1 {
        grid-area: reseña3;
    }

}



/*grids movile*/
@media(max-width: 420px) {
    nav {
        background-color: #F09A9D;
        /* pink */

    }

    .padre {
        grid-template-areas:
            "header"
            "banner"
            "subtitulo1"
            "imagen1"
            "imagen2"
            "imagen3"
            "subtitulo2"
            "reseña1"
            "reseña2"
            "reseña3"
            "footer";
    }

}


/*grids tablet*/
/*@media screen and (min-width: 768px){
*/