/*------------------------NOSOTROS-------------------------*/

.imagenEmpresa {

    /*Imagen empresa*/
    #fotoEmpresa {
        margin: 30px;
    }

    /*Texto descripción empresa*/
    #descripcionEmpresa {
        margin: 40px;
    }

}

/*Valores de la empresa en cajitas*/
.valoresEmpresa {
    padding: 10px;
    margin-top: 160px;
    margin-bottom: 160px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

/*Tres Imagenes del equipo*/
.imagenesEquipo {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;

    .bordeImagenes {
        border-radius: 120px;
    }
}