@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


/*Reseteo*/
* {
    padding: 0;
    margin: 0;
}


body {
    font-family: 'Roboto Condensed', sans-serif;
    color: azure;
    background-color: seagreen;
    background: linear-gradient(90deg, #06B5D6, #74BF04)
}



/*--------------------INDEX---------------------*/

/*HEADER*/

#logo {
    padding: 0px 40px;
}

/*barra navegadora*/
li {
    padding: 20px 20px 20px 20px;
    display: inline-block;
}

.header {
    color: blanchedalmond;
}


nav ul li a {
    color: white;
    list-style-type: none;
}*/



/*BANNER*/
#exploraElMundo {
    font-size: 300%;
}

.titulos {
    text-align: center;
}

.subTitulos {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#banner {
    margin-top: 0px;
    margin-bottom: 20px;
    position: relative;
}

#banner img {
    width: 100%;
    height: 100%;
}


#banner .contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-95%) translateY(-50%);
}




/*RESEÑAS*/
.reseñas{
    margin:10px;
    padding: 40px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

/*.reseñasFlex {
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 70px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items:space-between;
}*/



/*FOOTER*/
footer {
    padding: 20px 30px 20px 30px;
    margin-bottom: 0;
    margin-top: 200px;
    background-color: steelblue;
}

.footerFlex {
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}


footer p {
    font-style: normal;
    line-height: 1cm;
    font-size: 16px;
}

.contactoFooter {
    font-size: large;
    text-align: center;
    color: rgb(238, 231, 222);
}

.info {
    font: size 30px;
    color: blanchedalmond;
    text-align: right;
}


/* --------------------GRIDS-------------------*/

@media screen and (min-width: 1024px){
.padre{
    max-width: 1600px;
    margin: 0 auto;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: repeat(7, auto);
    grid-template-areas: 
                         "header           header           header"
                         "banner           banner           banner"
                         ".                subtitulo1       ."
                         "gridGaleria      gridGaleria      gridGaleria"
                         ".                subtitulo2       ."
                         "reseñas          reseñas           reseñas"
                         "footer           footer           footer";
}

.padre .header {
    grid-area: header;
    grid-column-start: 1;
    grid-column-end: 4;
}

.padre #banner {
    grid-area: banner;
    grid-column-start: 1;
    grid-column-end: -1;
}

.padre #subtitulo1{
    grid-area: subtitulo1;
}

.padre .gridGaleria{
    grid-area: gridGaleria;
}

.padre #subtitulo2 {
    grid-area: subtitulo2;
}

.padre .reseñas {
    grid-area:reseñas;
}

.padre #footer {
    grid-area: footer;

}

/*BANNER*/
#exploraElMundo {
    font-size: 400%;
}


/*Header*/
.headerFlex {
    width: 1300px;
    max-width: 1600px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*galeria orden*/
.gridGaleria {
    object-fit: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "imagen1 imagen2 imagen3";
}


/*IMAGENES*/
.gridGaleria {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.imagen1 {
    grid-area: imagen1;
}
.imagen2 {
    grid-area: imagen2;
}
.imagen3 {
    grid-area: imagen3;
}

/*Reseñas orden*/
.reseñas {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "reseña1 reseña2 reseña3";
}

.resaña1{
    grid-area: reseña1;
}

.resaña2{
    grid-area: reseña2;
}

.resaña1{
    grid-area: reseña3;
}

}




/*grids movile*/
@media only screen and (max-width: 420px) {
    nav {
        background-color: #F09A9D; /* pink */

      }
    
    .padre {
        grid-template-areas:
            "header"
            "banner"
            "subtitulo1"
            "imagen1"         
            "imagen2"         
            "imagen3"
            "subtitulo2"
            "reseña1"
            "reseña2"
            "reseña3"
            "footer";
    }

}


/*grids tablet*/
@media screen and (min-width: 768px) and{
    nav {
        background-color: blueviolet;
      }
    
    .padre {
        grid-template-areas:
            "header       header"
            "banner       banner"
            "subtitulo1   subtitulo1"
            "imagen1      imagen2"         
            "imagen3      imagen3"
            "subtitulo2   subtitulo2"
            "reseña1      reseña2""
            "reseña3      reseña3"
            "footer       footer";
    }

}

/*grids desktop
@media screen and (min-width: 1024px) {

}




/*-----------------DESTINOS-----------------*/

/*BOTONES DESTINOS*/
.botonesDestinos {
    padding: 80px;
    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 30px;
    margin-left: 50px;
    background-image: url(../imagenes/playa.jpg);
    background-size: cover;
    border-radius: 20px;
}

.botonesDestinosRow1 {
    display: flex;
    justify-content: center;
}

.botonesDestinosRow2 {
    display: flex;
    justify-content: center;
}

/*DESTINOS INFO*/
.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 40px;
    margin-right: 50px;
    margin-left: 50px;
}

/*Oslo*/
.titulosCiudadesDerecha {
    font-size: 200%;
    margin-right: 250px;
    margin-bottom: 20px;
    display: flex;
    justify-content: right;
}

/*Imagenes de los tours*/
.excursiones {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}




/*---------------------CONTACTO---------------------*/

/*subitulo y texto*/
#subTituloContacto{
    margin-top: 40px;
    display:flex;
    justify-content: center;
}

#textoContacto{
    display:flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 70px;  
}

/*formulario*/
#solicitarInfo{
    margin-bottom: 20px;
}

.formulario{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding:30px;
    margin-right: 100px;
    margin-left: 700px;
}

/*mas info*/
.infoContacto{
    padding: 100px;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 70px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
}






/*------------------------NOSOTROS-------------------------*/

/*Imagen empresa*/
#fotoEmpresa {
    margin: 30px;
}

/*Texto descripción empresa*/
#descripcionEmpresa {
    margin: 40px;
}

/*Valores de la empresa en cajitas*/
.valoresEmpresa {
    padding: 10px;
    margin-top: 160px;
    margin-bottom: 160px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

/*Tres Imagenes del equipo*/
.imagenesEquipo {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

.bordeImagenes {
    border-radius: 120px;
}






/*----------------------RESERVA----------------------*/

/*Formulario*/
.formularioReserva {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 30px;
    margin-right: 300px;
    margin-left: 300px;
}

/*Espacio de ayuda*/
.ayuda {
    margin-top: 80px;
    padding: 50px;
    background-color: #6F4CD4;
    text-align-last: center;
}

#necesitasAyuda {
    margin-bottom: 10px;
}
